<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.blackapp</key> <!-- Replace this with your app's bundle identifier -->
    <string></string> <!-- Leave this empty for unsigned builds -->
  </dict>
  <key>A7Q8XT75CC</key>
  <string></string> <!-- Leave this blank for unsigned builds -->
  <key>destination</key>
  <string>export</string>
  <key>compileBitcode</key>
  <false/>
  <key>thinning</key>
  <string>&lt;none&gt;</string>
</dict>
</plist>
