.search-results {
    margin-top: 20px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}

.user-result {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-weight: bold;
    cursor: pointer;
}
